/**************************************************************************
 * Generic html element
 **************************************************************************/
body { width: 100%; margin: auto; position: relative; background: #DBDBDB; font-size: 12px;}

.body
{
  width : 90% !important;
  margin-left : auto !important;
  margin-right : auto !important;
  margin-top : 20px ;

  padding : 10px 15px;
  min-height: 80%;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border : 1px solid  white;

  /*shadow */
  -webkit-box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, .1);
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, .1);

  background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 17%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(17%,#ffffff), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 17%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 17%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 17%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 17%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

   /*font */
  font-family : helvetica;
  
}

a:hover { color: rgb(63, 165, 168); }
table[role="grid"] { border : none; }
/* td[role="gridcell"] { margin : 0px ; padding : 0px 2px; }
td[role="gridcell"]>table { margin : 5px 0px; } */
textarea[disabled],
input[type="text"][disabled],
input[type="password"][disabled],
select[disabled] { color : #000; }

/**************************************************************************
 * Header Container
 **************************************************************************/
#header { border: 0px; padding: 0px; height: 85px; background: #e9f6f4; width: 100%; margin-top : -2px; display : none; }
#headerleft { background-position: left bottom; background-repeat: no-repeat; border: 0px; padding: 0px; height: 85px; float: left; }
#headerright { border: 0px; padding-top: 40px; width: 300px; float: right; text-align: right; margin-right : 80px; }
#logo { border: 0px; width: 380px; height: 70px; float: left; margin-left: 20px; margin-top: 20px; background-image: url(../img/logo.png); background-repeat: no-repeat;}
.headerinfo { position: absolute; top: 15px; float: left; vertical-align: bottom; margin-left: 220px; font-style: italic; color: #999; height: 50px; vertical-align: bottom; }

/**************************************************************************
 * Generics
 **************************************************************************/
.body h1 { text-align: right; margin: 0px; padding: 0px; font-style: italic; font-size: 1.2em; }
.body form { margin: 10px; padding-bottom : 10px; border-bottom : 1px solid #e7e5e5; }
.body #loginForm { border : 1px solid #dddddd; width : 400px; margin-left : auto; margin-right : auto; padding : 10px; -moz-border-radius: 5px; -webkit-border-radius : 5px; border-radius : 5px; }
.body form:first-child { border-top : none; }
.body button.ui-state-hover .ui-icon-search { background-image : url(../img/ui-icons_616161_256x240-2.png) !Important; }
/* tabs to widen */
.body > table { padding : 0px !important; }
.body > table > tbody,
.body > table > tbody >tr.ui-widget-content  { width : 100% !important; display : inline-block; float : left; }
.body > table > tbody > tr > td { display : inline-block; }

.body label { color: #666; text-shadow: 2px 2px 0px #ffffff; filter: dropshadow(color=#ffffff, offx=1, offy=1); }

.columnForm { width: 50%; }

.info {
	text-align: left;
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
	font-weight: bold;
	color: #333;
}

.actionButtons { padding-left: 1px; margin-top: 5px; }
.actionButtons select { margin: 5px 5px 5px 0; vertical-align: bottom; }

.footer
{
 	font-style: italic;
	margin-top : 20px;
	font-family : helvetica;
	color : #55585b;
	text-align : center;
	font-size : 0.9em;
	margin : 30px 10px;
}
#languagePanel ul { list-style-type: none; }
#languagePanel ul li
{
  float: right;
  margin: 0px;
}

/* 2 ADMIN BAR */
#admin-bar
{
  height: 125px;

  width: 100%;
  margin-top : -15px;
  background-color: rgb(231, 229, 226);
}
#admin-bar ul
{
  margin-left: auto;
  margin-right: 3%;
  float : right;
  position: absolute;
  top: 5px;
  right: 0;
}
#admin-bar ul li:first-child
{
   border-left : none;
}
#admin-bar ul li:last-child
{
   border-right : none;
}
#admin-bar ul li:nth-child(3)
{
   border-right : none;
}
#admin-bar ul li:nth-child(4)
{
   border-left : none;
   margin-right : 50px;
}
#admin-bar ul li
{
	display: inline-block;
	height: 20px;
	padding-right: 15px;
	padding-left: 15px;
	border-left: 1px solid #4d4242;
	border-right: 1px solid #e84649;
	float: left;
}
#admin-bar ul li.right-part
{
	float : left;
	margin-left : 0px;
	margin-right : 0px;
}
#admin-bar ul li,
#admin-bar ul li a
{
   font-family: helvetica;
   font-size: 0.95em;
   color : black;
   padding-top: 5px;
   text-decoration: none;
}
#admin-bar ul li a:hover
{
  color: red;
}
#admin-bar ul li .top-bar-home,
#admin-bar ul li .top-bar-user
{
   width : 30px;
   height: 30px;
   display: inline-block;
   float : left;
   margin-right : 10px;
   margin-top: -8px;
}
#admin-bar ul li .top-bar-home
{
   background-image: url(../img/home-top-bar.png) ;
   background-size: 20px 20px;
   background-repeat: no-repeat;
   display: inline-block;
   background-position: center;

}
#admin-bar ul li .top-bar-user
{
   width: 25px;
   height: 25px;
   background-image: url(../img/user-top-bar.png) ;
   background-size: 20px 20px;
   background-repeat: no-repeat;
   display: inline-block;
   background-position: center;
}
input[type="submit"],
input[type="submit"]:hover
{
   padding : 8px;
   margin-top : 10px;
   font-family : helvetica;
   font-weight :bold;
}
.search-panel .ui-widget-header td[role="columnheader"]
{
  border-bottom : 1px solid #e8eded;
  width : 10%;
}

#datatable_paginator_top { border : none; -webkit-border-radius: 8px 8px 0px 0px; border-radius: 8px 8px 0px 0px; }
#datatable_paginator_bottom { -webkit-border-radius: 0px 0px 8px 8px; border-radius: 0px 0px 8px 8px; -webkit-box-shadow: 0px -1px 0px 0px #b8b8b8; box-shadow: 0px -1px 0px 0px #b8b8b8; }

.ui-datatable-empty-message > td
div.body > table > thead,
.panels > table  > thead { float : left; color : #4f4f4f; border-bottom : 1px solid #d5d5d5; }
.panels > table { float : left; clear : both; margin-bottom : 20px; }
.panels > table  > thead tr th { float : left; display : block; }

/* TREE STRUCTURE */
.tree-customer-icon,
.ui-icon-folder-open,
.tree-user-account-icon,
.tree-billing-account-icon,
.tree-access-icon
{
  background-image: url(../img/user.png) !important;
  background-size : 13px 13px !important;
  background-repeat : no-repeat !important;
  background : transparent;
}
.tree-customer-account-icon,
{
  background-image: url(../img/folder.png) !important;
  background-size : 15px 15px !important;
  background-repeat : no-repeat !important;
  background : transparent;
}

.tree-subscription-icon { background: url(../img/subscription-icon.png) !important; height: 16px; width: 16px; }

.form-panel > tbody,
.form-panel > tbody > tr,
.form-panel > tbody > tr > td,
.form-panel-fields,
.form-panel-fields>tbody,
.form-panel-fields>tbody>tr.ui-widget-content,
.form-panel-fields>tbody>tr.ui-widget-content>td {  width: 100%; display: inline-block; }

.form-panel-fields .ui-tabs-panel > table >tbody,
.form-panel-fields .ui-tabs-panel > table >tbody > tr,
.form-panel-fields .ui-tabs-panel > table >tbody > tr> td { width : 99% !important; display : inline-block; }
.form-panel-fields .ui-tabs-panel > table >tbody > tr fieldset { width : 99%; display : inline-block; }

/**************************************************************************
 * JSF/Prime Overrides
 **************************************************************************/
.ui-tabs-panel { padding: 10px !important; }
.ui-tabs-panel .form-panel { padding: 0px !important; }
.ui-panel-titlebar { border: none !important; }
.ui-datatable-header, .ui-datatable-footer { text-align: left !important; }
.ui-editor { border-radius : 8px; overflow : hidden; border : 1px solid #d6d6d6; -webkit-box-shadow: inset 0px 1px 4px 2px rgba(0, 0, 2, .1); box-shadow: inset 0px 1px 4px 2px rgba(0, 0, 2, .1); }
.ui-menubar { width : 93%; margin-left : auto; margin-right: auto; height : 40px; font-family: Arial, Helvetica, sans-serif; font-size: 0.9em; margin-top : -43px; color: #e6e6e6; padding: 1px; background : none; border : none; }
.ui-menubar .ui-menu-list { width : 100%; padding-top : 5px; margin-left : 10px; float : left; margin-right : auto; }
.ui-menubar .ui-menu-list .ui-menu-child { -webkit-border-radius: 0px 15px 0px 15px; border-radius: 0px 15px 0px 15px; width : 150%; margin-right : 10px !important; box-shadow : none; border-top : none; border-color : #b3cecb; margin-left : -1px; }
.ui-menubar .ui-menu-list .ui-menu-child .ui-menu-list { border-top : 1px solid  #b3cecb; padding : 3px 1px 1px 3px; margin-left : 3px; }
.ui-menubar .ui-menu-list .ui-menu-child .ui-menuitem { padding : 0px !important; margin : 0px !important; width : 100%; border-left : none !important; border-right : none !important; -webkit-border-radius: 0px; border-radius: 0px; }
.ui-menubar .ui-menu-list .ui-menu-child .ui-menuitem .ui-state-hover { color:#4d4242; background-color : #e84649; box-shadow : none; -webkit-border-radius: 0px 8px 0px 8px; border-radius: 0px 8px 0px 8px;}
.ui-menubar .ui-menu-list .ui-menu-child .ui-menuitem .ui-state-hover span.ui-icon-triangle-1-e {
    height: 16px;
    width: 16px;
    background-image: url('/meveo/javax.faces.resource/images/rightarrow-navy.svg.jsf?ln=primefaces-modena') !important;
    background-position: center right !important;
    background-repeat: no-repeat;
}
.ui-menu .ui-menuitem .ui-menuitem-link .ui-icon-triangle-1-s{background-image: url('/meveo/javax.faces.resource/images/downarrow-navy.svg.jsf?ln=primefaces-modena') !important;}
.ui-menubar .ui-menu-list .ui-menu-child .ui-menuitem .ui-menuitem-link { text-shadow : none; padding : 1px 0px 0px 0px; }
.ui-menu .ui-menuitem-text {  padding : 2px; }
.ui-menubar .ui-menuitem-link { padding : 5px 10px; }
.ui-menubar .ui-menuitem:first-child { border-left : none !important; }
.ui-menubar .ui-menuitem { -webkit-border-radius: 10px 10px 0px 0px; border-radius: 10px 10px 0px 0px; margin : 0px 0px !important ; }
.ui-menubar .ui-menuitem a { color: black; }
.ui-menubar .ui-menuitem .ui-state-hover { -webkit-border-radius: 10px 10px 0px 0px; border-radius: 10px 10px 0px 0px; border-color : transparent !important; box-shadow : none; background : #dcdcdc; color: #4d4242 !important; }
.ui-menu-list .ui-menuitem { margin-right : 5px; color : red !important; }
.ui-menu-child  .ui-menuitem-text { color : #73777c; }
.ui-menu-child li { border-top : 1px solid white !Important; margin-top : -1px; border-bottom : 1px solid #efeff0 !important; }
.ui-menu-child li:first-child { border-top : none !important; }
.ui-menu-child .ui-state-hover .ui-menuitem-text { color : white; }
.ui-menubar .ui-menu-child { background-color : #efeff0 !important; }
.ui-menuitem .ui-state-hover .ui-icon-triangle-1-s { background-image : url(../img/ui-icons_616161_256x240.png) !Important; }
.ui-icon-triangle-1-s { background-image : url(../img/ui-icons_616161_256x240-2.png) !Important; background-position : -64px -16px; }
.ui-menuitem .ui-state-hover .ui-icon-triangle-1-e { background-image : url(../img/ui-icons_616161_256x240-2.png) !Important; }
/* .ui-button:hover .ui-button-icon-left { background-image : url(../img/ui-icons_616161_256x240-1.png) !Important; } */

/* paginator */
.ui-paginator { background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 50%, rgba(219,219,219,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(235,235,235,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */ }
.ui-paginator-top,
.ui-paginator-bottom { border : none; }
.ui-paginator-bottom { -webkit-box-shadow: 0px -1px 0px 0px #b8b8b8; box-shadow: 0px -1px 0px 0px #b8b8b8; }

/* tooltip improvement */
.ui-tooltip { position : fixed !Important; left : 15% !important; top : 90% !important; bottom : 0px !important; width : 900px !Important; margin-left : auto !important; margin-right : auto !important;  display : visible !important; background : transparent; height : 64px; padding-top : 30px; padding-right : 50px; padding-left : 150px; color : white; border : none !important; background-image :url(../img/tooltip-bg.png); background-repeat : no-repeat; background-size : 1050px 104px; }

.ui-tabs-panels div[id*="childTab"]  > table > tbody >tr > td { width : 300px; }
/* key - value coloring on details */
.ui-tabs-panels div[id*="childTab"]  > table > tbody >tr > td > table >tbody > tr > td,
.ui-tabs-panels div[id*="childTab"]  > table > tbody >tr > td > table >tbody > tr > td span { color : #416a68 !Important; }
.ui-tabs-panels div[id*="childTab"]  > table > tbody >tr > td > table >tbody > tr > td > label { font-style : normal; }
.ui-tree { margin-top : 5px; }
.ui-tree .ui-treenode-label a { font-size : 1em; color : #6b6b6b; text-decoration : none; font-family : helvetica; padding : 5px 2px 0px 2px; }
//.ui-outputlabel { display : inline-block; width : 95px; text-align : right; }
.ui-state-highlight { background : #e84649 !Important; color : white !important; text-shadow : none !important; }
.ui-fieldset-legend { border : none !important; background : none !important; font-size : 1em; }
.ui-selectonemenu-list { background : white; }
.ui-dialog-titlebar { width : 95% !important; }
.ui-dialog-titlebar .ui-dialog-titlebar-close:hover { background : #b8eff7; }
.ui-widget { font-size : 1em; } 
.ui-widget-header { background : none; text-align : left}
.ui-widget-content {
	border-color: #d6d6d6;
}

.ui-datatable .ui-widget-header, .ui-treetable .ui-widget-header {padding: 10px 0 !important; font-size : 0.95em; background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 50%, rgba(219,219,219,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(235,235,235,1)), color-stop(100%,rgba(219,219,219,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(219,219,219,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */ }
.ui-panel { padding : 0px; margin : 0px; border : none; margin-top : 10px; }
/* .ui-panel-content { padding : 0px !Important; } */
.ui-panelgrid, .ui-panel { width : 100%; padding : 0px; margin : 0px; }
.ui-panelgrid, .ui-panel { -webkit-border-radius: 8px !important; border-radius: 8px !important; border : 1px solid #d6d6d6 ; display : inline-block; }
.ui-panelgrid-header { margin-bottom : 10px; }
.ui-panelgrid tr,
.ui-panelgrid td, .ui-panel { border : none; }
.ui-datatable, .ui-treetable { border-radius : 8px !important; -webkit-border-radius : 8px !important; -moz-border-radius : 8px !important; margin-bottom : 10px; border : 1px solid #c2c2c2; display : block !important; width : 100%; overflow : hidden; }
/* .ui-datatable .ui-datatable-data tr td { border : 1px solid #c2c2c2; } */
.ui-datatable .ui-datatable-data tr td:first-child { border-left : 1px solid transparent; }
.ui-datatable .ui-datatable-data tr td:last-child { border-right : 1px solid transparent; }
.ui-datatable .ui-datatable-data tr:last-child td { border-bottom : 1px solid transparent; }
.ui-datatable table .ui-state-hover { background: -moz-linear-gradient(top,  rgba(232,70,73,0.22) 0%, rgba(232,70,73,0.22) 39%, rgba(232,70,73,0.22) 40%, rgba(232,70,73,0.44) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,70,73,0.22)), color-stop(39%,rgba(232,70,73,0.22)), color-stop(40%,rgba(232,70,73,0.22)), color-stop(100%,rgba(232,70,73,0.44))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3804d3d3', endColorstr='#70009b9b',GradientType=0 ); /* IE6-9 */ }
.ui-datatable table .ui-chkbox { margin-right : -5px; }
.ui-datatable .ui-datatable-data td.noWrap {
	white-space: nowrap;
}
.ui-spinner-button { margin : 0px; }
.ui-spinner .ui-spinner-button  .ui-icon-triangle-1-s { background-image : url(../img/ui-icons_616161_256x240.png) !Important; }
.ui-spinner .ui-spinner-button:hover  .ui-icon-triangle-1-s,
.ui-spinner .ui-spinner-button:hover  .ui-icon-triangle-1-n { background-image : url(../img/ui-icons_616161_256x240-2.png) !Important; }
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
.ui-picklist-list .ui-state-hover,
.ui-tabs-nav .ui-state-hover,
.ui-selectonemenu .ui-state-hover,
.ui-selectonemenu .ui-state-focus { border-color : #4d4242 !important; background: -moz-linear-gradient(top,  rgba(232,70,73,0.22) 0%, rgba(232,70,73,0.22) 39%, rgba(232,70,73,0.22) 40%, rgba(232,70,73,0.44) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,70,73,0.22)), color-stop(39%,rgba(232,70,73,0.22)), color-stop(40%,rgba(232,70,73,0.22)), color-stop(100%,rgba(232,70,73,0.44))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3804d3d3', endColorstr='#70009b9b',GradientType=0 ); /* IE6-9 */ }
.ui-selectonemenu .ui-inputfield { width : 110%; margin : 0px; padding-right : 12px; }
.form-panel-fieldset .ui-selectonemenu { width: 135px; }
.ui-inputfield { padding-left : 5px !important; }
.ui-inputfield[disabled="disabled"] { margin-left : -2px; }
.ui-messages-info, .ui-message-info { background : #c5f9f7; border-color : #00fff6; }
.ui-picklist-list,
.ui-tree { -webkit-border-radius: 8px; border-radius: 8px; border : 1px solid #d6d6d6; -webkit-box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, .1); box-shadow: inset 0px 1px 8px 1px rgba(0, 0, 0, .1); padding : 3px !Important; background: rgb(244,246,247); /* Old browsers */ background: -moz-linear-gradient(top,  rgba(244,246,247,1) 0%, rgba(255,255,255,1) 8%, rgba(249,249,249,1) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(244,246,247,1)), color-stop(8%,rgba(255,255,255,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(244,246,247,1) 0%,rgba(255,255,255,1) 8%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(244,246,247,1) 0%,rgba(255,255,255,1) 8%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(244,246,247,1) 0%,rgba(255,255,255,1) 8%,rgba(249,249,249,1) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(244,246,247,1) 0%,rgba(255,255,255,1) 8%,rgba(249,249,249,1) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f6f7', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */ }

.ui-picklist-item { font-family : helvetica; background : #f2f6f6; width : 97%; text-indent : 5px; color : #494949 !important; }
.ui-chkbox .ui-state-hover,
.ui-datepicker tr:first-child th { background: -moz-linear-gradient(top,  rgba(232,70,73,0.22) 0%, rgba(232,70,73,0.22) 39%, rgba(232,70,73,0.22) 40%, rgba(232,70,73,0.44) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,70,73,0.22)), color-stop(39%,rgba(232,70,73,0.22)), color-stop(40%,rgba(232,70,73,0.22)), color-stop(100%,rgba(232,70,73,0.44))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* IE10+ */ background: linear-gradient(to bottom,  rgba(232,70,73,0.22) 0%,rgba(232,70,73,0.22) 39%,rgba(232,70,73,0.22) 40%,rgba(232,70,73,0.44) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3804d3d3', endColorstr='#70009b9b',GradientType=0 ); /* IE6-9 */ border-color : #4d4242 !important; }
.ui-datepicker { border-radius : 8px; -webkit-border-radius : 8px; }
.ui-datepicker tr:first-child th { color : #0a7f72; border-color : #4d4242 !important; }
.ui-datepicker .ui-datepicker-calendar .ui-state-default { color : #676767; }
.ui-datepicker .ui-datepicker-calendar .ui-state-hover { background : #e8f2f1; }
input[type="submit"]:hover,
.ui-button:hover,
.ui-datatable table .ui-button:hover { font-family: Arial, Helvetica, sans-serif;  color: #ffffff; padding: 0px 0px; background: #e84649; /* Old browsers */ background: -moz-linear-gradient(top, #e84649 0%, #d44043 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e84649), color-stop(100%,#d44043)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #e84649 0%,#d44043 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #e84649 0%,#d44043 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #e84649 0%,#d44043 100%); /* IE10+ */ background: linear-gradient(to bottom, #e84649 0%,#d44043 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84649', endColorstr='#d44043',GradientType=0 ); /* IE6-9 */ -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #4d4242; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0),inset 0px 0px 2px rgba(255,255,255,0); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0),inset 0px 0px 2px rgba(255,255,255,0); box-shadow:0px 1px 3px rgba(000,000,000,0),inset 0px 0px 2px rgba(255,255,255,0); text-shadow:-1px -1px 0px rgba(000,000,000,1),0px 0px 0px rgba(255,255,255,0); }
input[type="submit"],
.ui-button { font-family: Arial, Helvetica, sans-serif;  padding: 0px 0px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #c2c2c2; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0), inset 0px 0px 2px rgba(255,255,255,0); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0),inset 0px 0px 2px rgba(255,255,255,0); box-shadow:0px 1px 3px rgba(000,000,000,0),inset 0px 0px 2px rgba(255,255,255,0); }
/* .ui-button { font-family: Arial, Helvetica, sans-serif;  padding: 0px 0px; background: -moz-linear-gradient(top,#ffffff 0%,#ebebeb 50%,#dbdbdb); background: -webkit-gradient(linear, left top, left bottom, from(#ffffff),color-stop(0.50, #ebebeb),to(#dbdbdb)); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; border: 1px solid #c2c2c2; -moz-box-shadow:0px 1px 3px rgba(000,000,000,0), inset 0px 0px 2px rgba(255,255,255,0); -webkit-box-shadow:0px 1px 3px rgba(000,000,000,0),inset 0px 0px 2px rgba(255,255,255,0); box-shadow:0px 1px 3px rgba(000,000,000,0),inset 0px 0px 2px rgba(255,255,255,0); text-shadow:1px 1px 0px rgba(255,255,255,0.8),0px 0px 0px rgba(255,255,255,0); } */
.ui-datatable-empty-message > td { border : 1px solid #aeaeae !important; margin-right : -6px; }
.ui-tabs-top { float : left; width : 100%; }
.ui-tabs { width : 99%; }
.ui-tabs-nav { width : 99%; background : none !important; }
.ui-state-hover { border-color : #4d4242 !important; }
.ui-fieldset-content td { padding: 4px; }

.field-value { font-weight: bold; }

/* .tab-view-container .ui-panel-titlebar { border: 0px; margin: 0px; padding: 10px 0px 0px 0px !important; vertical-align: middle !important; height: 28px; } */
.col1-set .ui-widget-header .ui-panelgrid-header, .tab-view-container .ui-panelgrid-header { border: none; margin: 0 0 10px 0; padding: 0px; }
.col1-set >tbody > tr > td { width : 99% !Important; display : inline-block; }
.form-panel-fields .inner-table tr td { padding-left: 0px; }
.col2-set {
	width: 100%; 
	display: inline-block;
}
.col2-set .col1 {
	width: 25%; 
	float:left;
}

.col2-set .col2 {
	width: 75%; 
	float:left;
}

.confirm-dialog .ui-dialog-content p span.ui-confirm-dialog-severity { position: relative; top: -4px; }
.confirm-dialog .ui-dialog-buttonpane { text-align: center; }
.action-buttons { margin-top: 5px; margin-bottom: 5px; }
.action-buttons button { margin-right: 5px; }
.custom-grid tbody { display: table-row-group; }
.align-left .ui-datalist-header {text-align:left;}
/* .custom-grid { overflow: auto; } */

/* td { border: 1px solid red !important; } */
/*.ui-selectonemenu .ui-selectonemenu-label { width: 130px !important; }*/

.no-padding td:first-child { padding: 0 0 0 2px; }

.alert-box { color:#555; border-radius:10px; font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px; padding:10px 10px 10px 36px; margin:10px; }
.alert-box span { font-weight:bold; text-transform:uppercase; }
.alert-box-error { background:#ffecec url('../resources/img/error.png') no-repeat 10px 50%; border:1px solid #f5aca6; } /* ui-messages-error-icon */
.alert-box-success { background:#e9ffd9 url('../resources/img/success.png') no-repeat 10px 50%; border:1px solid #a6ca8a; }
.alert-box-warning { background:#fff8c4 url('../resources/img/warning.png') no-repeat 10px 50%; border:1px solid #f2c779; }
.alert-box-notice { background:#e3f7fc url('../resources/img/notice.png') no-repeat 10px 50%; border:1px solid #8ed9f6; }
.main-error-box { }

.ui-state-default .ui-icon-xls { background-image: url(../img/excel.gif); }

.ui-datalist .ui-datalist-data {
	list-style-type: none;
	padding-left: 5px;
}

.ui-fileupload-buttonbar{
	border:none;
}
.ui-fileupload-content{
	border:none;
}

.ui-accordion-header{
  border: 0 !important;
  /*background-color: rgb(242, 244, 243)!important;*/
  background:rgb(242, 244, 243)!important;
  color:#333333 !important;
}
.ui-accordion .ui-accordion-header.ui-state-hover,
 .ui-accordion .ui-accordion-header.ui-state-active {
 color:#333333 !important;	}
 
.panelGrid-column{
vertical-align:top !important;
}

.panelGrid-column50{
	vertical-align:top !important;
	width:50% !important;
}
.panelGrid-column100{
	width:100% !important;
}


.search-panel {
    margin-top: 10px;
    margin-bottom: 20px;
    clear: both;
    margin-left: 1em;
}

.search-panel-fields {
	clear: both;
}

.search-panel-actions {
	padding-top: 1em;
	clear: both;
}

.search-panel-actions button { margin-right: 3px; }

.form-panel {
    clear: both;
    margin-left: 1em;
}

.form-panel-fields {
	clear: both;
}

.form-panel-actions{
	padding-top: 1em;
	clear: both;
}

.form-panel-actions button { margin-right: 3px; }


.formFieldGroup {
    vertical-align: middle;
    box-sizing: border-box;
    /* clear: both;*/
    display: table;
    float: left;
    margin-top: 0px;
    margin-bottom: 5px;
    width: 100%;
}

.formFieldGroup label {
    /* line-height: 25px;*/
    padding-top: 3px;
    float: left;
    position: relative;
    padding-right: 15px;
    /*padding-left: 15px;*/
    display: inline-block;
    box-sizing: border-box;
}

.formFieldGroup .formFieldItem {
    /* line-height: 25px;*/
    float: left;
    position: relative;
    padding-right: 15px;
    /*padding-left: 15px;*/
    display: block;
    box-sizing: border-box;
    padding-top: 3px;
}

.formFieldGroup .formFieldItem2Lines {
    /* line-height: 25px;*/
    float: left;
    clear: left;
    position: relative;
    padding-right: 15px;
    /*padding-left: 15px;*/
    display: block;
    box-sizing: border-box;
    margin-top: 2px;
}

.formFieldItem div.ui-message,.formFieldItem2Lines div.ui-message {
    margin-top: 5px;
}

.formFieldItem div.ui-message:empty,.formFieldItem2Lines div.ui-message:empty
{
    margin-top: 0px !important;
}

.formFieldItem2Lines button { margin-left: 2px; }

.clearLeft {
	clear: left;	
}

.clearRight {
	clear: right;	
}

.clearBoth {
	clear: both;	
}

.verticalSpaceSmall {
	clear:left;
	margin-top: 1em;
}

.ui-accordion .ui-accordion-content{
   padding:0px !important;
  }
.dtcolumn-hidden{
	
}
.ui-widget-header{
	border: none !important;
}
#crumbmenuForm{
	border:none !important;
	padding-bottom:0 !important;
}

/* Custom field list/map/period new value entry*/ 
.ui-datatable-footer .ui-selectonemenu {
	margin-bottom : -7px;
}

.ui-datatable-footer .ui-autocomplete {
	margin-right : 30px;
}

.ui-datatable .ui-datatable-footer {
    padding-left: 5px !important;
}

.inlineIcon {
	float: left;
	margin-top: -2px;
}

.ui-treetable .ui-treetable-footer {
    padding-left: 5px !important;
    text-align: left;
}

.ui-treetable .ui-column-resizer{
top: 0px !important;
}

.invoice-adjustment-table span.ui-column-title {
	display: block !important;
}

.minWidthCalendar input {
	width: 90px;
}

.CodeMirror {
	box-shaddow: inset 0px 2px 2px #8f8f8f;
	border: 1px solid #a8a8a8;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

form.formNoBottomBorder {
	border-bottom: none;
}

.ui-panel .ui-panel-content{
padding: 0px !important;
}

.ListNoStyle { list-style-type: none; }
/* Paddings */
.NoPadding{padding:0px !important;}
.PaddingTopPercent10{ padding-top: 10%;}
.Padding1{ padding:1x; box-sizing:border-box;}
.Padding3{ padding:3px; box-sizing:border-box;}
.Padding5{ padding:10.2px; box-sizing:border-box;}
.Padding10{ padding:10px; box-sizing:border-box;}
.Padding15{ padding:15px; box-sizing:border-box;}
.Padding20{ padding:20px; box-sizing:border-box;}
.PadLeftRightZero{padding-left:0px; padding-right:0px;}                     /* NEW */
.PadTopBottomZero{padding-top:0px; padding-bottom:0px;}  
.Wid100, table.Wid100 tbody, table.Wid100 tr { width: 100%; }
.Wid70 { width: 70%; }
.Wid60 { width: 60%; }
.Wid55 { width: 55%; }
.Wid45 { width: 45%; }
.Wid40 { width: 40%; }
.Wid30 { width: 30%; }
.Wid20 { width: 20%; }
.Wid10 { width: 10%; }
.Wid5 { width: 5%; }
.dataGrid .ui-paginator { text-align: right !important; }
.dataGrid .ui-paginator span { text-align: left !important; }
.ui-datagrid-blank .ui-datagrid-content { border: none !important; }
.dataList .ui-datalist-content { border: none; background: transparent; background-image: none; }
.panelGrid td { padding: 2px 0px !important; }
.FRight { float: right; }
.FLeft { float: left; }
.VAlignTop { vertical-align: top; }

/* Text Aligns */
.TexAlCenter{ text-align:center;}
.TexAlLeft{ text-align:left;}
.TexAlRight{ text-align:right !important;}

/*.ui-panelgrid .ui-panelgrid-cell{
    border: none !important;
}*/