<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:hf="http://java.sun.com/jsf/composite/tags" xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{userListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="navigation">
		<ui:include src="/layout/navigation.xhtml" />
	</ui:define>

	<ui:define name="body">

		<hftl:searchPanel backingBean="#{userListBean}"
			label="#{messages['user.search']}">
			<hftl:searchField label="#{messages['user.userName']}" field="userName" />
			<hftl:searchField label="#{messages['user.accountingFirm']}" field="accountEntity" childField="code" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['user.title']}"
			backingBean="#{userListBean}" sortBy="userName">
			<hftl:column label="#{messages['user.userName']}" field="userName" entityView="userDetail" valueIdField="id"/>
			<hftl:column label="#{messages['user.roles']}" field="roles"
				valueLabelField="name" isList="true" sort="false" />  
				
			<hftl:column label="#{messages['user.accountingFirm']}" field="accountEntity" childField="code" />	           

			<hftl:actionsColumn
				permission="#{identity.hasPermission('administration','administrationManagement')}" />
		</hftl:dataList>
  
    </ui:define>

</ui:composition>
