<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://jboss.com/products/seam/taglib" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:hftl="http://hftl.org" xmlns:p="http://primefaces.org/ui"
    xmlns:hf="http://java.sun.com/jsf/composite/tags" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{userRoleBean.objectId}" />
        </f:metadata>
    </ui:define>
    
    <ui:define name="navigation">
        <ui:include src="/layout/navigation.xhtml" />
    </ui:define>

    <ui:define name="body">
        <p:panel>
            <h:form id="crumbmenuForm">
                <p:breadCrumb homeDisplay="text" id="crumbmenu">
                    <p:menuitem value="#{messages['menu.admin']}" disabled="true" />
                    <p:menuitem outcome="roles" value="#{messages['menu.userRoles']}" />
                </p:breadCrumb>
            </h:form>
        </p:panel>
        <hftl:formPanel label="#{messages['role.userRolePanel']}" backingBean="#{userRoleBean}">
            <hftl:formField label="#{messages['role.name']}" field="name" required="true" />
            <hftl:formField label="#{messages['businessEntity.description']}" field="description" size="50" maxlength="50" />
            <h:panelGroup id="providerDependentInfo">
                <hftl:formField label="#{messages['role.roles']}" field="roles" listType="pickUpList" dualListModel="#{userRoleBean.roleListModel}" valueLabelField="name"
                    styleClass="clearLeft" />
                <hftl:formField label="#{messages['role.permission']}" field="permissions" listType="pickUpList" dualListModel="#{userRoleBean.permissionListModel}"
                    valueLabelField="name" />
            </h:panelGroup>
        </hftl:formPanel>
    </ui:define>
</ui:composition>
