<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:hftl="http://hftl.org" template="/layout/template.xhtml">

    <ui:define name="metadata">
        <f:metadata>
            <f:event type="preRenderView" listener="#{userRoleListBean.preRenderView}" />
        </f:metadata>
    </ui:define>

    <ui:define name="navigation">
        <ui:include src="/layout/navigation.xhtml" />
    </ui:define>

    <ui:define name="body">

        <hftl:searchPanel label="#{messages['role.search']}" backingBean="#{userRoleListBean}">
            <hftl:searchField label="#{messages['role.name']}" field="name" />
            <hftl:searchField label="#{messages['role.description']}" field="description" />
        </hftl:searchPanel>

        <hftl:dataList label="#{messages['role.title']}" backingBean="#{userRoleListBean}" sortBy="name">
            <hftl:column label="#{messages['role.name']}" field="name" entityView="roleDetail" valueIdField="id"/>
            <hftl:column label="#{messages['role.description']}" field="description" />
            <hftl:column label="#{messages['role.permissions']}" field="permissions" valueLabelField="name" isList="true" /> 

            <hftl:actionsColumn permission="#{identity.hasPermission('administration','administrationManagement')}" />

        </hftl:dataList>

    </ui:define>

</ui:composition>
