<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:hf="http://java.sun.com/jsf/composite/tags" xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{accountEntityListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="navigation">
		<ui:include src="/layout/navigation.xhtml" />
	</ui:define>

	<ui:define name="body">

		<hftl:searchPanel backingBean="#{accountEntityListBean}"
			label="#{messages['accountingFirm.search']}">
			<hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
			<hftl:searchField label="#{messages['accountingFirm.name']}" field="name" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['accountingFirm.accountingFirmPanel']}"
			backingBean="#{accountEntityListBean}" sortBy="name">
			<hftl:column label="#{messages['businessEntity.code']}" field="code"/>
			<hftl:column label="#{messages['accountingFirm.name']}" field="name" entityView="accountEntityDetail" valueIdField="id"/>
			<hftl:column label="#{messages['address.zipCode']}" field="contacts.postalCode"/>
			<hftl:column label="#{messages['address.city']}" field="contacts.city"/>
			<hftl:column label="#{messages['accountingFirm.accountType']}" field="accountType.code" />
			<hftl:column label="#{messages['businessAccount.disabled']}" field="disabled" />             
			<hftl:actionsColumn/>
		</hftl:dataList>
  
    </ui:define>

</ui:composition>
