<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://jboss.com/products/seam/taglib" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:hftl="http://hftl.org" xmlns:hf="http://java.sun.com/jsf/composite/tags"
    xmlns:c="http://java.sun.com/jstl/core" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="navigation">
        <ui:include src="/layout/navigation.xhtml" />
    </ui:define>

    <ui:define name="body">

        <p:panel>
            <h:form id="crumbmenuForm">
                <p:breadCrumb homeDisplay="text" id="crumbmenu">
                    <p:menuitem value="#{messages['menu.accountingFirms']}" disabled="true" />
                    <p:menuitem outcome="accountEntities" value="#{messages['menu.accountingFirms']}" />
                </p:breadCrumb>
            </h:form>
        </p:panel>
        <hftl:formPanel label="#{messages['accountingFirm.accountingFirmPanel']}" backingBean="#{accountEntityBean}">
        <p:panelGrid columns="2" style="border:none important!">
	        <hftl:formField label="#{messages['businessEntity.code']}" field="code" required="true" validateUnique="true" />
			<hftl:formField label="#{messages['accountingFirm.name']}" field="name" required="true"/>
			<hftl:formField label="#{messages['address.address1']}" field ="contacts" childField="address1" />
			<hftl:formField label="#{messages['address.address2']}" field ="contacts" childField="address2" />
			<hftl:formField label="#{messages['address.address3']}" field ="contacts" childField="address3" />
			<hftl:formField label="#{messages['address.zipCode']}" field ="contacts" childField="postalCode" />
			<hftl:formField label="#{messages['address.city']}" field ="contacts" childField="city" />
			<hftl:formField label="#{messages['address.phone']}" field ="contacts" childField="phone" />
			  </p:panelGrid>
        </hftl:formPanel>

    </ui:define>

</ui:composition>
