<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sc="http://java.sun.com/jsf/composite/components/seamfaces"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:p="http://primefaces.org/ui"
                xmlns:hftl="http://hftl.org">

<hftl:formPanel  backingBean="#{dossierBean}" formId="activityForm">
    <h:panelGrid columns="2">
        <p:panel>
		<fieldset>
			<legend>#{messages['activity.activityPanel1']}</legend>
				<h:panelGrid columns="2" style="width:50%; height:auto;">
                    <hftl:formField label="#{messages['activity.code']}" field="activityCode" required="true" validateUnique="true" />
                    <hftl:formField label="#{messages['activity.desc']}" field ="activityDescription"/>
				</h:panelGrid> 
		</fieldset>
        </p:panel>
        <p:panel>
		<fieldset>
            <legend>#{messages['activity.activityPanel2']}</legend>
            <h:panelGrid columns="2">
                    <h:panelGrid colomns="2" style="width:50%; height:auto;">
                        <p:selectOneRadio id="regime">
                        <f:selectItem itemLabel="#{messages['activity.engage']}" itemValue="engagement" />
                        <f:selectItem itemLabel="#{messages['activity.tresor']}" itemValue="tresorerie" />
                        </p:selectOneRadio>
                    </h:panelGrid>
                    <h:panelGrid colomns="2">
                       <h:outputLabel for="activityComment" value="Commentaires :" />
                       <p:inputTextarea rows="3" cols="25" />
                </h:panelGrid>
                </h:panelGrid>
		</fieldset>
    </p:panel>
        </h:panelGrid>
    <h:panelGrid columns="2">
        <p:panel>
             <h:panelGrid columns="1">
            <p:panel>
            <fieldset>
                <legend>#{messages['activity.activityPanel3']}</legend>
                  <h:panelGrid colomns="2" style="width:50%; height:auto;">
                    <p:selectOneRadio id="tva" value="#{vatMode}">
                        <f:selectItem itemLabel="#{messages['activity.exonere']}" itemValue="exonere" />
                         <f:selectItem itemLabel="#{messages['activity.simplifie']}" itemValue="simplifie" />
                           <f:selectItem itemLabel="#{messages['activity.trimestr']}" itemValue="trimestriel" />
                            <f:selectItem itemLabel="#{messages['activity.normal']}" itemValue="normal"/>
                        </p:selectOneRadio>    
                     <hftl:formField label="#{messages['activity.date']}" field ="vatFilingDate"/>
                  </h:panelGrid>
            </fieldset>
            </p:panel>
             <p:panel>
            <fieldset>
                <legend>#{messages['activity.activityPanel4']}</legend>
                  <h:panelGrid colomns="2" style="width:50%; height:auto;">
                    <p:selectOneRadio id="impo" value="#{taxationRegime}">
                        <f:selectItem itemLabel="B.N.C" itemValue="bnc" />
                         <f:selectItem itemLabel="I.R" itemValue="ir" />
                           <f:selectItem itemLabel="I.S" itemValue="is" />
                        </p:selectOneRadio>
                      <h:outputLabel for="activityRegimeComment" value="Commentaires :" />
                       <p:inputTextarea rows="3" cols="30" />
                  </h:panelGrid>
            </fieldset>
          </p:panel>
            </h:panelGrid>
        </p:panel>
        <h:panelGrid>
         <p:panel>
        <fieldset>
            <legend>#{messages['activity.activityPanel5']}</legend>
            <h:panelGrid columns="2">
                <h:outputText value="#{messages['activity.rapproche']}"/>
                <p:selectBooleanCheckbox value="rapproche" />
                <h:outputLabel for="activityP1Comment" value="Commentaires :" />
                       <p:inputTextarea rows="2" cols="20" />
                <h:outputText value="#{messages['activity.ca']}"/>
                <p:selectBooleanCheckbox value="activityCa3" />
                <h:outputLabel for="activityP2Comment" value="Commentaires :" />
                       <p:inputTextarea rows="2" cols="20" />
                <h:outputText value="#{messages['activity.borderu']}"/>
                <p:selectBooleanCheckbox value="borderu" />
                <h:outputLabel for="activityP3Comment" value="Commentaires :" />
                       <p:inputTextarea rows="2" cols="20" />
            </h:panelGrid>
            </fieldset>
        </p:panel>
        </h:panelGrid>
      </h:panelGrid>        
 </hftl:formPanel>
</ui:composition>
