<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib" 
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:hftl="http://hftl.org"
                xmlns:hf="http://java.sun.com/jsf/composite/tags"   
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="navigation">
        <ui:include src="/layout/navigation.xhtml" />
    </ui:define>

    <ui:define name="body">
        <p:panel>
            <h:form id="crumbmenuForm">
                <p:breadCrumb homeDisplay="text" id="crumbmenu">
                    <p:menuitem value="#{messages['menu.configuration']}" disabled="true" />
                    <p:menuitem outcome="dossiers" value="#{messages['menu.dossiers']}" />
                </p:breadCrumb>
            </h:form>
        </p:panel>
	
		
		<hftl:entityPopup id="associatePopup"
			header="#{messages['dossier.associate']}"
			backingBean="#{userBean}"
			dataModel="#{dossierBean.getAssociates()}"
			searchField1Label="#{messages['user.userName']}"
			searchField1="userName"
			column1Label="#{messages['user.userName']}"
			column1="userName" 
			selection="#{dossierBean.entity.principalContact}" 
			updateField=":parentTab:dossierForm:associateId :parentTab:dossierForm:associateId_text" >
	    </hftl:entityPopup>
	    
	    <hftl:entityPopup id="responsiblePopup"
			header="#{messages['dossier.associate']}"
			backingBean="#{userBean}"
			dataModel="#{dossierBean.getResponsibles()}"
			searchField1Label="#{messages['user.userName']}"
			searchField1="userName"
			column1Label="#{messages['user.userName']}"
			column1="userName" 
			selection="#{dossierBean.entity.responsibleContact}" 
			updateField=":parentTab:dossierForm:responsibleId :parentTab:dossierForm:responsibleId_text" >
	    </hftl:entityPopup> 
			                    
							        
							  
		<h:panelGroup styleClass="col2-set">
		<p:tabView id="parentTab" activeIndex="#{dossierBean.activeMainTab}">
            
		<p:tab id="dossier" title="#{messages['dossier.tab.dossier']}">
		 <ui:include src="dossierInfos.xhtml"/>
		</p:tab>
		<p:tab id="activity" title="#{messages['dossier.tab.activity']}">
		 <ui:include src="activity.xhtml"/>
		</p:tab>
		<p:tab id="tva" title="#{messages['dossier.tab.tva']}">
         <ui:include src="vat.xhtml"/>
		</p:tab>
		</p:tabView>
		</h:panelGroup>

    </ui:define>

</ui:composition>