<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sc="http://java.sun.com/jsf/composite/components/seamfaces"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:p="http://primefaces.org/ui"
                xmlns:hftl="http://hftl.org">
    
    	<hftl:entityPopup id="responsibleEcPopup"
			header="#{messages['dossier.responsibleEc']}"
			backingBean="#{userBean}"
			dataModel="#{dossierBean.getResponsiblesEc()}"
			searchField1Label="#{messages['user.userName']}"
			searchField1="userName"
			column1Label="#{messages['user.userName']}"
			column1="userName" 
			selection="#{dossierBean.entity.ecContact}" 
			updateField=":parentTab:dossierForm:responsibleEcId :parentTab:dossierForm:responsibleEcId_text" >
    </hftl:entityPopup>
    
<hftl:formPanel  backingBean="#{dossierBean}" formId="dossierForm"> 
        <p:panel>
            <fieldset>
                  <legend style="font-weight: bold;">#{messages['dossier.dossierPanel']}</legend>		
                   <h:panelGrid columns="2">				
                        
                            <hftl:formField label="#{messages['businessEntity.code']}" field="code" required="true" validateUnique="true" />
                            <hftl:formField id="responsibleEcId" popupId="responsibleEcPopup" 
                            label="#{messages['dossier.responsibleEc']}" field="ecContact"
                            valueLabelField="userName" popup="true" required="true" showPopupOnlyOnNew="true" />
                       
                            <hftl:formField label="#{messages['dossier.interlocutorName']}" field ="interlocutorName"  />
                            <hftl:formField label="#{messages['dossier.interlocutorEmail']}" field ="interlocutorEmail" />
                        <h:outputLabel for="" value="#{messages['dossier.associate']}"/>
                       
                       <hftl:formField id="associateEcId" popupId="associateEcPopup" 
                            label="#{messages['dossier.associate']}" field="associate"
                            valueLabelField="Associe" popup="true" required="true" showPopupOnlyOnNew="true" />
                        
                    </h:panelGrid>
            </fieldset>		
         </p:panel>
                      			
          <p:panel>
            <fieldset>
                  <legend style="font-weight: bold;">#{messages['dossier.formJuridiqueFieldSet']}</legend>		
                   <h:panelGrid columns="2">    
                      <p:selectOneRadio id="companyType" value="#{dossier.businessName.title}" disabled="#{readOnly}">
                      <f:selectItem itemLabel="SA" itemValue="SA"/>
                       <f:selectItem itemLabel="S.A.R.L" itemValue="SARL" />
                      <f:selectItem itemLabel="S.N.C" itemValue="SNC" />
                         <f:selectItem itemLabel="S.C.S" itemValue="SCS" />
                         <f:selectItem itemLabel="S.C.A" itemValue="SCA" />
                    </p:selectOneRadio>
                       <h:panelGrid>
                           <h:outputLabel for="dossierComment" value="Commentaires :" />
                           <p:inputTextarea rows="5" cols="50" />
                       </h:panelGrid>
              </h:panelGrid>
              </fieldset>
			  <h:panelGrid columns="2">
			  <hftl:formField label="#{messages['dossier.startdate']}" field ="startingDate"/>
			  <hftl:formField label="#{messages['dossier.enddate']}" field ="endingDate"/>
			  </h:panelGrid>
    </p:panel>
</hftl:formPanel>	
</ui:composition>