<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:hftl="http://hftl.org"
	xmlns:hf="http://java.sun.com/jsf/composite/tags" xmlns:p="http://primefaces.org/ui"
	template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{dossierListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="navigation">
		<ui:include src="/layout/navigation.xhtml" />
	</ui:define>

	<ui:define name="body">

		<hftl:searchPanel backingBean="#{dossierListBean}"
			label="#{messages['dossier.search']}">
			<hftl:searchField label="#{messages['businessEntity.code']}" field="code" />
			<hftl:searchField label="#{messages['dossier.name']}" field="recordName" />
		</hftl:searchPanel>

		<hftl:dataList label="#{messages['dossier.dossierPanel']}"
			backingBean="#{dossierListBean}" sortBy="name">
			<hftl:column label="#{messages['businessEntity.code']}" field="code"/>
			<hftl:column label="#{messages['dossier.name']}" field="name" entityView="dossierDetail" valueIdField="id"/> 
			<hftl:column label="#{messages['dossier.statut']}" field="status"/> 
			<hftl:column label="#{messages['businessAccount.disabled']}" field="disabled" />             
			<hftl:actionsColumn/>
		</hftl:dataList>
  
    </ui:define>

</ui:composition>
