<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sc="http://java.sun.com/jsf/composite/components/seamfaces"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:p="http://primefaces.org/ui"
                xmlns:hftl="http://hftl.org">
    
    <hftl:formPanel  backingBean="#{dossierBean}" formId="vatForm">
    <h:panelGrid columns="2">
        <p:panel>
		<fieldset style="width: auto;">
            <legend>#{messages['vat.ventil']}</legend>
            <h:panelGrid columns="2">
                <p:panel>
                    <p:selectOneRadio id="ventil" value="#{ventilation}" layout="pageDirection">
                        <f:selectItem itemLabel="#{messages['vent.ventexo']}" itemValue="ventilexo" />
                         <f:selectItem itemLabel="#{messages['vent.ventred']}" itemValue="ventilreduit" />
                           <f:selectItem itemLabel="#{messages['vent.ventsemi']}" itemValue="ventilsemi" />
                           <f:selectItem itemLabel="#{messages['vent.ventplein']}" itemValue="ventilplein" />
                        </p:selectOneRadio>
				</p:panel>
				 <p:panel>
					<!--for ventilComment-->
                    <p:inputTextarea rows="3" cols="25" />
					</p:panel>
					 </h:panelGrid>
					 <h:outputText value="#{messages['vent.tvacomment']}"/>
					<p:panel>
                    <!--for VATComment-->
                    <p:inputTextarea rows="10" cols="65" />
                </p:panel>
		</fieldset>
        </p:panel>
        <p:panel>
        <h:panelGrid columns="2">
        <p:panel>
		<fieldset style="height: 300px;">
		<legend>#{messages['vat.recupere']}</legend>
			<h:panelGrid columns="2">
                <p:panel>
			<h:outputText value="#{messages['recup.carbur']}"/>
			<p:selectBooleanCheckbox value="carburant" />
			 <p:selectOneRadio id="recupere" value="#{ventilation}" layout="pageDirection">
                <f:selectItem itemLabel="#{messages['carbur.norecup']}" itemValue="withnorecup" />
                 <f:selectItem itemLabel="#{messages['carbur.heightrecup']}" itemValue="heightrecup" />
                 <f:selectItem itemLabel="#{messages['recup.moreheightrec']}" itemValue="moreheightrec" />
            </p:selectOneRadio>
                </p:panel>
                <p:panel>
                <p:inputTextarea rows="3" cols="25" />
                </p:panel>
                <h:panelGrid columns="2">
                <p:panel>
			     <h:outputText value="#{messages['recup.charge']}"/>
			     <p:selectBooleanCheckbox value="charges" />
                 <p:selectOneRadio id="fraischarge" value="#{ventilation}" layout="pageDirection">
                 <f:selectItem itemLabel="#{messages['charge.norecup']}" itemValue="othernorecup" />
                 <f:selectItem itemLabel="#{messages['charge.fullheightrec']}" itemValue="fullheightrec" />
                 </p:selectOneRadio>
                    </p:panel>
                    <p:panel>
                    <p:inputTextarea rows="3" cols="25" />
                    </p:panel>
                </h:panelGrid>
                </h:panelGrid>
             <h:panelGrid columns="2">
                <p:panel>
			<h:outputText value="#{messages['recup.impot']}"/>
			<p:selectBooleanCheckbox value="autreimpo" />
                  </p:panel>
                 <p:panel>
                    <p:inputTextarea rows="3" cols="25" />
               </p:panel>     
            </h:panelGrid>
		</fieldset>
        </p:panel>
        </h:panelGrid>
        </p:panel>
        </h:panelGrid>
    </hftl:formPanel>
</ui:composition>