<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:custom="http://manaty.net/custom"
	xmlns:hf="http://java.sun.com/jsf/composite/tags"
	template="layout/template.xhtml" xmlns:hftl="http://hftl.org">

	<ui:define name="navigation">
		<ui:include src="/layout/navigation.xhtml">
		</ui:include>
	</ui:define>

	<ui:define name="body">
	<p:messages id="messages" />
		<p:panel>


			<!-- REMOVED FOR NOW -->
			<!--<h:panelGrid columns="2" style="width:100%;text-align:center;">
				
              
                <h:graphicImage value="/img/MeveoOpenCell.png" style="border:0px;" />
				<p:columnChart value="#{dashboard.customerAccount}" var="customerAccounts" xfield="#{customerAccounts.month}">
					<p:chartSeries label="#{messages['dashboard.customerAccounts']}" value="#{customerAccounts.amount}" />
				</p:columnChart >

			</h:panelGrid>-->
 
		</p:panel>

	</ui:define>
</ui:composition>
