<h:form id="menu" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

	<p:tooltip for="users">#{help['menu.users']}</p:tooltip>
	<p:tooltip for="userRoles">#{help['menu.userRoles']}</p:tooltip>
	 
    <c:set var="cetIndex" value="0"/>

    
	<p:menubar rendered="#{identity.loggedIn}">
		<p:submenu id="admin" label="#{messages['menu.configuration']}"
			rendered="#{identity.hasPermission('administration','administrationVisualization') or identity.hasPermission('catalog','catalogVisualization')}">
			<p:menuitem id="users" value="#{messages['menu.users']}"
				outcome="users"
				rendered="#{identity.hasPermission('administration','administrationVisualization')}" />
			<p:menuitem id="userRoles" value="#{messages['menu.userRoles']}"
				outcome="roles"
				rendered="#{identity.hasPermission('administration','administrationVisualization')}" />
		   <p:menuitem id="titles" outcome="titles"
				value="#{messages['menu.titles']}" />
				
		</p:submenu>

		<p:submenu id="accountingFirm" label="#{messages['menu.accountingFirm']}">
			<p:menuitem id="accountEntities" outcome="accountEntities"
				value="#{messages['menu.accountingFirms']}" />
			<p:menuitem id="accFirmUsers" outcome="accFirmUsers"
				value="#{messages['menu.accountingFirmUsers']}" />	
				
		</p:submenu>
		
		
		<p:submenu id="dossier" label="#{messages['menu.dossier']}">
			<p:menuitem id="dossiers" outcome="dossiers"
				value="#{messages['menu.dossiers']}" />
			<p:menuitem id="dossierUsers" outcome="dossierUsers"
				value="#{messages['menu.dossierUsers']}" />	
			
		</p:submenu>
        
        <p:submenu id="documents" label="#{messages['menu.document']}">
			<p:menuitem id="docDepot" outcome="docDepot" value="#{messages['menu.doc.depot']}" />
			<p:menuitem id="doConsult" outcome="doConsult" value="#{messages['menu.doc.consult']}" />	
			<p:menuitem id="docPieces" outcome="docPieces" value="#{messages['menu.doc.pieces']}" />	
		</p:submenu>

	</p:menubar>
</h:form>
