<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:custom="http://manaty.net/custom" contentType="text/html"
	locale="#{localeSelector.currentLocale}">

	<ui:insert name="metadata" />

	<html>

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
	<title>Business expert comptable</title>
	<link rel="shortcut icon" href="#{request.contextPath}/favicon.ico" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/stylesheet/theme.css" />
	<link rel="stylesheet" type="text/css"
		href="#{request.contextPath}/stylesheet/main.css" />

	<ui:insert name="head" />

	<!-- <a:loadScript src="resource://jquery.js" /> -->
	<script type="text/javascript"
		src="#{facesContext.externalContext.requestContextPath}/js/equalHeight.js"></script>
</h:head>
<h:body>
	<h:form>
		<script type="text/javascript">
			jQuery(function() {
				jQuery('.panels').equalHeights();
			});
		</script>
		<div id="admin-bar">
			<div id="logo">
			</div>

			<ul >
				<li><div class="top-bar-home"></div> <h:link
						outcome="/home.xhtml" value="#{messages['menutop.home']}"
						styleClass="headerLink" /></li>
				<li>
					<div class="top-bar-pass"></div> <h:link
						outcome="/changePassword.xhtml"
						value="#{messages['menutop.changePassword']}"
						rendered="#{identity.loggedIn}" styleClass="headerLink" />
				</li>
				<li>
					<div class="top-bar-logout"></div> <h:commandLink
						action="#{identity.logout}" value="#{messages['menutop.logout']}"
						rendered="#{identity.loggedIn}" styleClass="headerLink"
						immediate="true" />
				</li>
				<li class="right-part">
					<div class="top-bar-user"></div> <h:outputText
						value="#{messages['commons.connectedUsers']} : #{identity.user.user.userName} "
						rendered="#{identity.loggedIn}" />
				</li> 


			</ul>
		</div>
		<!--end of admin bar -->
		<div id="header">
			<div id="logo">
			</div>

			<div id="headerleft"></div>
			<div id="headerright"></div>
		</div>
	</h:form>

	<ui:insert name="navigation">
	</ui:insert>
	<div class="body">

		<ui:insert name="body" />

	</div>
	<!-- <div class="footer"><p:link href="#{monitoringBean.getDocUrl()}">Help ?</p:link></div> -->
	<div class="footer">Business expert comptable @VERSION_NUMBER@ @BUILD_NUMBER@</div>
	<div class="footer"><h:outputText value="#{monitoringBean.getLastVersion()}" escape="false" /></div>

	<p:ajaxStatus
		style="width:64px;height:64px;position:fixed;right:5px;bottom:5px">
		<f:facet name="start">
			<h:graphicImage library="img" name="loading.gif" />
		</f:facet>

		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>

        <p:confirmDialog  global="true" showEffect="fade" hideEffect="fade" closeOnEscape="true" >
            <p:commandButton value="#{messages['commons.yes']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
            <p:commandButton value="#{messages['commons.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
        </p:confirmDialog>


<!-- 	<p:dialog id="providerSelectPopup" -->
<!-- 		rendered="#{identity.loggedIn and ! identity.user.user.onlyOneProvider}" -->
<!-- 		header="#{messages['provider.popup.header']}" -->
<!-- 		widgetVar="dlg_providerSelectPopup"  modal="true" -->
<!-- 		styleClass="form-dialog" width="500" closeOnEscape="true" visible="#{param['chooseProvider']!=null}"> -->
<!-- 		<h:form id="providerSelectPopupForm"> -->


<!-- 			<p:dataTable var="provider" value="#{identity.user.user.providers.toArray()}" reflow="true" resizableColumns="true"> -->

<!-- 				<p:column headerText="#{messages['businessEntity.code']}"> -->
<!-- 					<h:outputText value="#{provider.code}" /> -->
<!-- 				</p:column> -->

<!-- 				<p:column headerText="#{messages['businessEntity.description']}"> -->
<!-- 					<h:outputText value="#{provider.description}" /> -->
<!-- 				</p:column> -->
<!-- 				<p:column> -->
<!-- 					<p:commandLink value="#{messages['commons.select']}" -->
<!-- 						action="#{currentProviderBean.setCurrentProvider(provider)}" -->
<!-- 						oncomplete="PF('dlg_providerSelectPopup').hide()"> -->
<!-- 					</p:commandLink> -->
<!-- 				</p:column> -->
<!-- 			</p:dataTable> -->
<!-- 		</h:form> -->
<!-- 	</p:dialog> -->

</h:body>
	</html>




</f:view>
