<ui:composition 

    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
    
    <!-- TOPBAR START -->
    <div id="layout-topbar">
        <a id="mobile-menu-button">
            <span class="ButtonLine" id="ButtonLine1"></span>
            <span class="ButtonLine" id="ButtonLine2"></span>
            <span class="ButtonLine" id="ButtonLine3"></span>
        </a>
        
	<div id="logo">
            
        </div>
        
        
        <a id="show-top-menu" class="ShowOnMobile ripplelink"><i class="icon-more_vert" id="active"></i><i class="icon-close DispNone" id="passive"></i> </a>
        
        <ul id="top-menu">
        	
        	<li>
        		<h:link outcome="/home.xhtml" value="#{messages['menutop.home']}"
                           styleClass="ripplelink">
				<span class="ink animate" style="height: 42px; width: 42px; top: -1px; 
                                      left:2.109375px;">
				</span>
				<i class="icon-archive"></i> 
        			<span class="ShowOnMobile"><div class="top-bar-home"></div>
				</span>
			</h:link>
        	</li>
        
        	<li>
        		<a class="ripplelink">
			<span class="ink animate" style="height: 42px; width: 42px; top: -1px; left:  
                              2.109375px;"></span>

				<i class="icon-archive"></i> 
        			<span class="ShowOnMobile"><div class="top-bar-pass"></div> </span>
        		</a>
				
				<h:link outcome="/changePassword.xhtml" value="#{messages['menutop.changePassword']}"
					rendered="#{identity.loggedIn}" styleClass="headerLink" />
			</li>

			<li>
				<a class="ripplelink">
				<span class="ink animate" style="height: 42px; width: 42px; top: -1px; left:  
	                              2.109375px;"></span>

				<i class="icon-archive"></i> 
        			<span class="ShowOnMobile"> <div class="top-bar-logout"></div> </span>
        		</a>
				 
				<h:commandLink action="#{identity.logout}" value="#{messages['menutop.logout']}"
					rendered="#{identity.loggedIn}" styleClass="headerLink" immediate="true" />
			</li>
			
			<li class="right-part">
				<a class="ripplelink">
				<span class="ink animate" style="height: 42px; width: 42px; top: -1px; left:  
	                              2.109375px;"></span>
				
				<i class="icon-archive"></i> 
        			<span class="ShowOnMobile"> <div class="top-bar-user"></div> </span>
        		</a>
				 
				<h:outputText value="#{messages['commons.connectedUsers']} : #{identity.user.user.userName}"
					rendered="#{identity.loggedIn}" />
			</li>			
 
            
        </ul>
    </div>
    <!-- TOPBAR END -->
    
</ui:composition>