<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sc="http://java.sun.com/jsf/composite/components/seamfaces"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:p="http://primefaces.org/ui"
                xmlns:hftl="http://hftl.org">
    
    <hftl:formPanel  backingBean="#{dossierBean}" formId="consultForm">
    <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:hftl="http://hftl.org"
                xmlns:hf="http://java.sun.com/jsf/composite/tags"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{dossierListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="navigation">
		<ui:include src="/layout/navigation.xhtml" />
	</ui:define>
    
  <ui:define name="body">
        <fieldset style="width: auto;">
         <legend>#{messages['consult.title']}</legend>
            <h:panelGrid columns="2">
            <p:panel>
            <h:panelGrid colums="2">
            <p:panel>
            <hftl:formField label="#{messages['doc.codedossier']}" field ="cDocId"/>
            <!--
            <hftl:entityPopup id="docIdPopup"
			header="#{messages['doc.codedossier']}"
			backingBean="#{userBean}"
			dataModel="#{dossierBean.getCodeDossier()}"
			searchField1Label="#{messages['user.userName']}"
			searchField1="userName"
			column1Label="#{messages['user.userName']}"
			column1="userName" 
			selection="#{dossierBean.entity.principalContact}" 
			updateField=":parentTab:dossierForm:associateId :parentTab:dossierForm:associateId_text" >
	    	</hftl:entityPopup>
	     -->
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="idenDoc">
                <f:selectItem itemLabel="Selectionner"/>
              </p:selectOneMenu>
              </p:panel>
              <p:panel>
            <hftl:formField label="#{messages['doc.statut']}" field ="conStatut"/>
            </p:panel>
            
              <p:panel>
              <p:selectOneMenu id="idDoc">
            <f:selectItem itemLabel="Selectionner"/>
            </p:selectOneMenu>
              </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.periodecompt']}" field ="cPeriodecompt"/>
            </p:panel>
              <p:panel>
              <h:panelGrid columns="5">
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              <p:panel>#{messages['doc.au']}</p:panel>
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              </h:panelGrid>
              </p:panel>
              <p:panel>
              <hftl:formField label="#{messages['doc.type']}" field ="conType"/>
              </p:panel>
              <p:panel>
              <p:selectOneMenu id="type">
              <f:selectItem itemLabel="Selectionner"/>
              </p:selectOneMenu>
              </p:panel>
              </h:panelGrid>
              </p:panel>
              
                <p:panel>
             <h:panelGrid columns="2">
                <p:panel>
                <hftl:formField label="#{messages['doc.nomdossier']}" field ="cDocName"/>
                </p:panel>
                <p:panel>
                <p:selectOneMenu id="identDoc">
                <f:selectItem itemLabel="Selectionner"/>
              </p:selectOneMenu>
              </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.journal']}" field ="cJournal"/>
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="jrnl">
            <f:selectItem itemLabel="Selectionner"/>
            </p:selectOneMenu>
              </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.periodetrait']}" field ="cPeriodTrait"/>
            </p:panel>
             <p:panel>
              <h:panelGrid columns="5">
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              <p:panel>#{messages['doc.au']}</p:panel>
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              </h:panelGrid>
               </p:panel>
                 <p:panel>
                <hftl:formField label="#{messages['doc.numfact']}" field ="cNumFact"/>
                 </p:panel>
                 <p:panel>
                 <p:inputText style="width: 220px;"/>
                 </p:panel>
            </h:panelGrid>
                </p:panel>
            </h:panelGrid>
      </fieldset>
    </ui:define>
</ui:composition>
    </hftl:formPanel>
</ui:composition>