<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sc="http://java.sun.com/jsf/composite/components/seamfaces"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:p="http://primefaces.org/ui"
                xmlns:hftl="http://hftl.org">


	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{dossierListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="navigation">
		<ui:include src="/layout/navigation.xhtml" />
	</ui:define>
    
  <ui:define name="body">
        <fieldset style="width: auto;">
         <legend>#{messages['doc.title']}</legend>
          <h:panelGrid columns="2">
            <p:panel>
            <hftl:formField label="#{messages['doc.codedossier']}" field ="depcodeDss"/>
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="idenDoc">
                <f:selectItem itemLabel="Selectionner"/>
                <f:selectItem itemValue="Premier"/>
              </p:selectOneMenu>
              </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.nomdossier']}" field ="depnomDss"/>
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="idDoc">
            <f:selectItem itemLabel="Selectionner"/>
            <f:selectItem itemValue="Deuxieme"/>
            </p:selectOneMenu>
              </p:panel>
            
            <p:panel>
            <hftl:formField label="#{messages['doc.periodecomp']}" field ="depPeriod"/>
            </p:panel>
              <p:panel>
              <h:panelGrid columns="2">
                      <p:panel>
                <p:inputText style="width: 35px;"/>
                      </p:panel>
                      <p:panel>
                <p:inputText style="width: 25px;"/>
                  </p:panel>
              </h:panelGrid>
                </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.journal']}" field ="depJrnl"/>
            </p:panel>
              <p:panel>
                <p:selectOneMenu id="ideDoc" value="hello">
                <f:selectItem itemLabel="Selectionner"/>
                <f:selectItem itemValue="Tre"/>
              </p:selectOneMenu>
              </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.nomfich']}" field ="depNomfich"/>
            </p:panel>
              <p:panel>
                <p:fileUpload value="uploadfile" mode="simple" skinSimple="true"/>
              </p:panel>
              </h:panelGrid>
        </fieldset>
    </ui:define>
</ui:composition>