<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:sc="http://java.sun.com/jsf/composite/components/seamfaces"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:p="http://primefaces.org/ui"
                xmlns:hftl="http://hftl.org">
    
    <hftl:formPanel  backingBean="#{dossierBean}" formId="consultForm">
    <ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:hftl="http://hftl.org"
                xmlns:hf="http://java.sun.com/jsf/composite/tags"
                xmlns:p="http://primefaces.org/ui"
                template="/layout/template.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:event type="preRenderView" listener="#{dossierListBean.preRenderView}" />
		</f:metadata>
	</ui:define>

	<ui:define name="navigation">
		<ui:include src="/layout/navigation.xhtml" />
	</ui:define>
    
  <ui:define name="body">
        <fieldset style="width: auto;">
         <legend>#{messages['doc.title']}</legend>
            <h:panelGrid columns="2">
            <p:panel>
          <h:panelGrid columns="2">
            <p:panel>
            <hftl:formField label="#{messages['doc.nomdossier']}" field ="docName"/>
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="PiecID">
                <f:selectItem itemLabel="Selectionner"/>
              </p:selectOneMenu>
              </p:panel>
              <p:panel>
            <hftl:formField label="#{messages['doc.statut']}" field ="piecStatut"/>
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="PiecStat" value="hello">
            <f:selectItem itemLabel="Selectionner"/>
            <f:selectItem itemValue="Deuxieme"/>
            </p:selectOneMenu>
              </p:panel>
    
            <p:panel>
            <hftl:formField label="#{messages['doc.periodecompt']}" field ="piecPeriodecompt"/>
            </p:panel>
              <p:panel>
              <h:panelGrid columns="5">
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              <p:panel>#{messages['doc.au']}</p:panel>
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              </h:panelGrid>
              </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.type']}" field ="piecDocType"/>
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="type">
            <f:selectItem itemLabel="Selectionner"/>
            </p:selectOneMenu>
            </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.libel']}" field ="piecLibel"/>
            </p:panel>
            
            <p:panel>
            <p:inputText style="width: 220px;"/>
            </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.datepiece']}" field ="piecDatePiece"/>
            </p:panel>
              <p:panel>
              <h:panelGrid columns="5">
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              <p:panel>#{messages['doc.au']}</p:panel>
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              </h:panelGrid>
            </p:panel>
            <p:panel>
            <hftl:formField label="#{messages['doc.numfact']}" field ="nFacture"/>
            </p:panel>
            <p:panel>
            <p:inputText style="width: 220px;"/>
           </p:panel>
            <p:panel>
            <h:panelGrid columns="2">
            <p:panel>
            <hftl:formField label="#{messages['doc.codedossier']}" field ="docCode"/>
            <p:outputLabel value="Code dossier"/>
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="identDoc" value="hello">
                <f:selectItem itemLabel="Selectionner"/>
                <f:selectItem itemValue="Premier"/>
              </p:selectOneMenu>
              </p:panel>
              </h:panelGrid>
            
            <h:panelGrid columns="2">
            <p:panel>
            <hftl:formField label="#{messages['doc.journal']}" field ="piecJournal"/>
            </p:panel>
              <p:panel>
              <p:selectOneMenu id="idtDoc" value="hello">
            <f:selectItem itemLabel="Selectionner"/>
            <f:selectItem itemValue="Deuxieme"/>
            </p:selectOneMenu>
              </p:panel>
              </h:panelGrid>
            
            <h:panelGrid columns="2">
            <p:panel>
            <hftl:formField label="#{messages['doc.periodetrait']}" field ="piecPeriodTrait"/>
            </p:panel>
              <p:panel>
              <h:panelGrid columns="5">
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              <p:panel>#{messages['doc.au']}</p:panel>
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel><p:inputText style="width: 25px;"/></p:panel>
              </h:panelGrid>
                </p:panel>
    
    
            </h:panelGrid>
            <h:panelGrid columns="2">
            <p:panel>
            <hftl:formField label="#{messages['doc.tier']}" field ="piecTiers"/>
            </p:panel>
              <p:panel>
                <p:selectOneMenu id="idDocum" value="hello">
                <f:selectItem itemLabel="Selectionner"/>
                <f:selectItem itemValue="Tre"/>
              </p:selectOneMenu>
              </p:panel>
              </h:panelGrid>
            
            <h:panelGrid columns="2">
            <p:panel>
            <hftl:formField label="#{messages['doc.refged']}" field ="piecRef"/>
            </p:panel>
                <p:panel><p:inputText style="width: 220px;"/></p:panel>
              </h:panelGrid>
              <p:panel>
              <hftl:formField label="#{messages['doc.montant']}" field ="piecMontTT"/>
            </p:panel>
            <p:panel>
                <h:panelGrid columns="3">
                <p:panel><p:inputText style="width: 35px;"/></p:panel>
              <p:panel>#{messages['doc.au']}</p:panel>
              <p:panel><p:inputText style="width: 35px;"/></p:panel>
                 </h:panelGrid>
                 </p:panel>
                 <hftl:formField label="#{messages['doc.piececompt']}" field ="PiecCompt"/>
                <p:selectBooleanCheckbox value="piececompt" />
            </p:panel>
            </h:panelGrid>
        </fieldset>
    </ui:define>
</ui:composition>
    </hftl:formPanel>
</ui:composition>