<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:s="http://jboss.com/products/seam/taglib" xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:hftl="http://hftl.org" xmlns:hf="http://java.sun.com/jsf/composite/tags"
    xmlns:c="http://java.sun.com/jstl/core" xmlns:p="http://primefaces.org/ui" template="/layout/template.xhtml">

    <ui:define name="navigation">
        <ui:include src="/layout/navigation.xhtml" />
    </ui:define>

    <ui:define name="body">
        <p:panel header="#{messages['userGroupHierarchy.panel']}">
            <p:messages id="messages" />
            <h:panelGroup layout="block" styleClass="col2-set">
                <h:panelGroup id="userGroupPanel" layout="block" styleClass="col1">
                    <p:panel header="#{messages['userGroupHierarchy.userGroupLevelHierarchy']}">
                        <p:tree value="#{userHierarchyLevelBean.rootNode}" var="userGroupLevel" selectionMode="single" rendered="#{userHierarchyLevelBean.rootNode.childCount>0}">
                            <p:ajax event="select" listener="#{userHierarchyLevelBean.onNodeSelect}" update="messages buttons userGroupLevelDetailPanel" />
                            <p:treeNode>
                                <h:outputText value="#{userGroupLevel.descriptionOrCode}" />
                            </p:treeNode>
                        </p:tree>
                        <h:outputText value="#{messages['userGroupHierarchy.noGroups']}" rendered="#{userHierarchyLevelBean.rootNode.childCount==0}" />
                    </p:panel>
                </h:panelGroup>
                <h:panelGroup layout="block" styleClass="col2">
                    <p:panel header="#{messages['userGroupHierarchy.userGroupLevel']}" styleClass="form-panel">
                        <h:panelGroup layout="block" id="buttons" styleClass="form-panel">
                            <p:tooltip for="addUserHierarchyRootBtn" value="#{messages['userGroupHierarchy.addUserGroupRoot']}" showEffect="slide" hideEffect="slide" />
                            <p:commandButton id="addUserHierarchyRootBtn" icon="fa-home" action="#{userHierarchyLevelBean.newUserHierarchyRoot()}"
                                update="messages buttons userGroupLevelDetailPanel">
                            </p:commandButton>

                            <p:tooltip for="addUserHierarchyLevelBtn" value="#{messages['userGroupHierarchy.addUserGroupLevel']}" showEffect="slide" hideEffect="slide" />
                            <p:commandButton id="addUserHierarchyLevelBtn" icon="fa fa-plus" action="#{userHierarchyLevelBean.newUserHierarchyLevel()}"
                                update="messages userGroupLevelDetailPanel" rendered="#{userHierarchyLevelBean.selectedNode != null}">
                            </p:commandButton>

                            <p:tooltip for="deleteUserHierarchyLevellink" value="#{messages['commons.delete']}" showEffect="slide" hideEffect="slide" />
                            <p:commandButton id="deleteUserHierarchyLevellink" icon="ui-icon-trash" action="#{userHierarchyLevelBean.removeUserHierarchyLevel()}"
                                update="messages userGroupLevelDetailPanel userGroupPanel buttons" rendered="#{userHierarchyLevelBean.selectedNode != null}" ajax="true">
                                <p:confirm header="#{messages['commons.confirmationHeader']}" message="#{messages['userGroupHierarchy.confirmDelete']}" icon="ui-icon-alert" />
                            </p:commandButton>

                            <p:tooltip for="moveUpUserHierarchyLevelBtn" value="#{messages['action.moveUp']}" showEffect="slide" hideEffect="slide" />
                            <p:commandButton id="moveUpUserHierarchyLevelBtn" icon="ui-icon-arrowthick-1-n" action="#{userHierarchyLevelBean.moveUp()}"
                                update="messages userGroupLevelDetailPanel userGroupPanel buttons" rendered="#{userHierarchyLevelBean.selectedNode != null}" ajax="true" />

                            <p:tooltip for="moveDownUserHierarchyLevelBtn" value="#{messages['action.moveDown']}" showEffect="slide" hideEffect="slide" />
                            <p:commandButton id="moveDownUserHierarchyLevelBtn" icon="ui-icon-arrowthick-1-s" action="#{userHierarchyLevelBean.moveDown()}"
                                update="messages userGroupLevelDetailPanel userGroupPanel buttons" rendered="#{userHierarchyLevelBean.selectedNode != null}" ajax="true" />
                            <p:separator />
                        </h:panelGroup>
                        <h:panelGroup layout="block" id="userGroupLevelDetailPanel">
                            <h:panelGroup rendered="#{userHierarchyLevelBean.showUserGroupDetail or userHierarchyLevelBean.rootNode.childCount==0}">
                                <hftl:formPanel formId="userGroupHierarchyDetail" backingBean="#{userHierarchyLevelBean}" showBackButton="false" showDeleteButton="false"
                                    ajaxSubmit="true" submitUpdate="@form userGroupPanel buttons">
                                    <hftl:formField label="#{messages['businessEntity.code']}" field="code" required="true" validateUnique="true" />
                                    <hftl:formField label="#{messages['businessEntity.description']}" field="description" newLine="true" />
                                </hftl:formPanel>
                            </h:panelGroup>
                        </h:panelGroup>
                    </p:panel>
                </h:panelGroup>
            </h:panelGroup>
        </p:panel>
    </ui:define>

</ui:composition>