<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
    xmlns:hftl="http://hftl.org"
	template="/layout/template.xhtml">


    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="objectId" value="#{titleBean.objectId}" />
        </f:metadata>
    </ui:define>
    
	<ui:define name="navigation">
		<ui:include src="/layout/navigation.xhtml" />
	</ui:define>

	<ui:define name="body">
		<p:panel>
			<h:form id="crumbmenuForm">
				<p:breadCrumb homeDisplay="text" id="crumbmenu">
					<p:menuitem value="#{messages['menu.admin']}" disabled="true" />
					<p:menuitem outcome="titles" value="#{messages['menu.titles']}" />
				</p:breadCrumb>
			</h:form>
		</p:panel>

		<hftl:formPanel label="#{messages['title.panel']}"
			backingBean="#{titleBean}">
			<hftl:formField label="#{messages['title.code']}" field="code"
				required="true" validateUnique="true" />
			<hftl:formField label="#{messages['title.isCompany']}"
				field="isCompany" /> 
				
				<hftl:formField label="#{messages['title.description']}"
				field="description" /> 
		</hftl:formPanel>
	</ui:define>
</ui:composition>