<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:hftl="http://hftl.org" xmlns:s="http://jboss.org/seam/faces" xmlns:of="http://omnifaces.org/functions">

<!-- 

    Makes part of "happy faces" component group.
    A custom tag to enhance p:datatable component.
     
         
-->

<ui:composition>

    <p:dialog id="exportParametersDialog" styleClass="confirm-dialog" header="#{messages['export.exportCriteria']}" severity="alert" widgetVar="exportParametersDialog" width="700"
        modal="true" closeOnEscape="true" dynamic="true">

        <hftl:decorateFormPanel formId="parameterForm" label="#{entityExportImportBean.selectedExportTemplate.name}">
            <ui:define name="fields">
                <h:panelGroup rendered="#{entityExportImportBean.dataModelToExport==null}">
                    <ui:repeat var="parameter" value="#{entityExportImportBean.selectedExportTemplate.parameters.entrySet().toArray()}">
                        <hftl:decorateFormField label="#{messages['export.exportCriteria.'.concat(parameter.key)]}" rendered="#{parameter.value eq 'dateRange'}">
                            <h:panelGrid columns="4">
                                <h:outputText value="#{messages['commons.dateFrom']}" style="padding-right:5px" />
                                <p:calendar value="#{entityExportImportBean.exportParameters[parameter.key.concat('_from')]}" pattern="#{entityExportImportBean.datePattern}" />
                                <h:outputText value="#{messages['commons.dateTill']}" style="padding:5px" />
                                <p:calendar value="#{entityExportImportBean.exportParameters[parameter.key.concat('_to')]}" pattern="#{entityExportImportBean.datePattern}" />
                            </h:panelGrid>
                        </hftl:decorateFormField>
                    </ui:repeat>
                </h:panelGroup>
                <hftl:decorateFormField fieldId="param_delete" label="#{messages['export.deleteAfterExport']}"
                    rendered="#{entityExportImportBean.selectedExportTemplate.canDeleteAfterExport}">
                    <p:selectBooleanCheckbox id="param_delete" value="#{entityExportImportBean.exportParameters['delete']}" />
                </hftl:decorateFormField>
                <hftl:decorateFormField fieldId="param_zip" label="#{messages['export.zip']}">
                    <p:selectBooleanCheckbox id="param_zip" value="#{entityExportImportBean.exportParameters['zip']}" />
                </hftl:decorateFormField>
                <hftl:decorateFormField label="#{messages['export.exportToRemote']}" rendered="#{identity.hasPermission('utilities','remoteImport')}">
                    <p:selectOneMenu value="#{entityExportImportBean.exportParameters['remoteInstance']}">
                        <f:selectItem />
                        <f:selectItems value="#{meveoInstanceBean.listAll}" var="listVal" itemLabel="#{listVal.code}" itemValue="#{listVal}" />
                        <s:objectConverter />
                    </p:selectOneMenu>
                </hftl:decorateFormField>
            </ui:define>

            <ui:define name="buttons">
                <p:commandButton value="#{messages['export.export']}" action="#{entityExportImportBean.export()}"
                    oncomplete="PF('exportParametersDialog').hide();PF('exportResultsDialog').show()" update="#{messagesId}, :exportResults" />
                <p:commandButton value="#{messages['action.cancel']}" onclick="PF('exportParametersDialog').hide()" type="button" />
            </ui:define>
        </hftl:decorateFormPanel>
    </p:dialog>

    <p:dialog id="exportResults" dynamic="true" header="#{messages['export.exportResults']}" modal="true" closeOnEscape="true" maximizable="true" widgetVar="exportResultsDialog"
        width="900">
        <p:scrollPanel mode="native" style="max-height:550px">
            <h:panelGroup id="exportSummary">
                <h:form rendered="#{entityExportImportBean.exportImportFuture!=null}">
                    <p:poll interval="5" update="exportSummary" stop="#{entityExportImportBean.exportImportFuture!=null and entityExportImportBean.exportImportFuture.isDone()}"
                        widgetVar="expStatusPoll" onerror="PF('expStatusPoll').stop()" />

                    <h:panelGroup rendered="#{entityExportImportBean.exportImportFuture!=null and !entityExportImportBean.exportImportFuture.isDone()}">

                        <div class="ui-messages ui-widget">
                            <div class="ui-messages-warn ui-corner-all">
                                <span class="ui-messages-warn-icon"></span>
                                <ul>
                                    <li><h:outputText value="#{messages['export.export.inProgress2']}" styleClass="ui-messages-warn-summary" /></li>
                                </ul>
                            </div>
                        </div>

                    </h:panelGroup>

                    <h:panelGroup rendered="#{entityExportImportBean.exportImportFuture!=null and entityExportImportBean.exportImportFuture.isDone()}">

                        <h:panelGroup rendered="#{entityExportImportBean.exportImportFuture.get().failed}">
                            <div class="ui-messages ui-widget">
                                <div class="ui-messages-error ui-corner-all">
                                    <span class="ui-messages-error-icon"></span>
                                    <ul>
                                        <li><h:outputText value="#{messages['export.exportFailed.partial']}" styleClass="ui-messages-error-summary" /></li>
                                        <li><h:outputText value="&amp;nbsp;" escape="false" /></li>
                                        <li><h:outputText value="#{entityExportImportBean.exportImportFuture.get().exception.message}"
                                                rendered="#{entityExportImportBean.exportImportFuture.get().exception!=null}" /> <h:outputText
                                                value="#{messages[entityExportImportBean.exportImportFuture.get().errorMessageKey]}"
                                                rendered="#{entityExportImportBean.exportImportFuture.get().errorMessageKey!=null}" /></li>
                                    </ul>
                                </div>
                            </div>
                        </h:panelGroup>
                        <h:panelGroup rendered="#{! entityExportImportBean.exportImportFuture.get().failed}">
                            <div class="ui-messages ui-widget">
                                <div class="ui-messages-info ui-corner-all">
                                    <span class="ui-messages-info-icon"></span>
                                    <ul>
                                        <li><h:outputText value="#{messages['export.exported']}" styleClass="ui-messages-info-summary" /></li>
                                    </ul>
                                </div>
                            </div>
                        </h:panelGroup>
                        <p:dataTable var="stat" value="#{entityExportImportBean.exportImportFuture.get().summary.entrySet().toArray()}" paginator="true" rows="20"
                            paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                            rowsPerPageTemplate="20,30,50" lazy="false" styleClass="custom-grid" rowIndexVar="rowIndex" emptyMessage="#{messages['export.nothingExported']}"
                            resizableColumns="true">
                            <p:column headerText="#{messages['export.entityClass']}">
                                <h:outputText value="#{stat.key.name}" />
                            </p:column>
                            <p:column headerText="#{messages['export.numberExported']}">
                                <h:outputText value="#{stat.value}" />
                            </p:column>
                            <p:column headerText="#{messages['export.numberDeleted']}" rendered="#{! entityExportImportBean.exportImportFuture.get().deleteSummary.isEmpty()}">
                                <h:outputText value="#{entityExportImportBean.exportImportFuture.get().getDeleteCount(stat.key)}" />
                            </p:column>
                        </p:dataTable>

                        <h:panelGroup id="remoteImportSummary" rendered="#{entityExportImportBean.exportImportFuture.get().remoteImportExecutionId!=null}">

                            <p:poll interval="5" update="remoteImportSummary" listener="#{entityExportImportBean.checkRemoteImportStatus}"
                                stop="#{entityExportImportBean.remoteImportResult!=null and entityExportImportBean.remoteImportResult.isDone()}" widgetVar="impStatusPoll"
                                onerror="PF('impStatusPoll').stop()" />

                            <h:panelGroup rendered="#{entityExportImportBean.remoteImportResult==null or !entityExportImportBean.remoteImportResult.isDone()}">

                                <p:panel styleClass="search-panel" header="#{messages['export.remoteImportResults']}">

                                    <div class="ui-messages ui-widget">
                                        <div class="ui-messages-warn ui-corner-all">
                                            <span class="ui-messages-warn-icon"></span>
                                            <ul>
                                                <li><h:outputText value="#{messages['export.import.inProgress2']}" styleClass="ui-messages-warn-summary" /></li>
                                            </ul>
                                        </div>
                                    </div>

                                </p:panel>
                            </h:panelGroup>

                            <h:panelGroup rendered="#{entityExportImportBean.remoteImportResult!=null and entityExportImportBean.remoteImportResult.isDone()}">

                                <p:panel styleClass="search-panel" header="#{messages['export.remoteImportResults']}">

                                    <h:panelGroup rendered="#{entityExportImportBean.remoteImportResult.failed}">
                                        <div class="ui-messages ui-widget">
                                            <div class="ui-messages-error ui-corner-all">
                                                <span class="ui-messages-error-icon"></span>
                                                <ul>
                                                    <li><h:outputText value="#{messages['export.importFailed.partial']}" styleClass="ui-messages-error-summary" /></li>
                                                    <li><h:outputText value="&amp;nbsp;" escape="false" /></li>
                                                    <li><h:outputText value="#{entityExportImportBean.remoteImportResult.failureMessage}"
                                                            rendered="#{entityExportImportBean.remoteImportResult.failureMessage!=null}" /> <h:outputText
                                                            value="#{messages[entityExportImportBean.remoteImportResult.failureMessageKey]}"
                                                            rendered="#{entityExportImportBean.remoteImportResult.failureMessageKey!=null}" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </h:panelGroup>
                                    <h:panelGroup rendered="#{! entityExportImportBean.remoteImportResult.failed}">
                                        <div class="ui-messages ui-widget">
                                            <div class="ui-messages-info ui-corner-all">
                                                <span class="ui-messages-info-icon"></span>
                                                <ul>
                                                    <li><h:outputText value="#{messages['export.imported']}" styleClass="ui-messages-info-summary" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </h:panelGroup>

                                    <p:dataTable id="datatable" var="stat" value="#{entityExportImportBean.remoteImportResult.summary.entrySet().toArray()}" paginator="true"
                                        rows="20" paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                        rowsPerPageTemplate="20,30,50" lazy="false" styleClass="custom-grid" rowIndexVar="rowIndex" resizableColumns="true">
                                        <p:column headerText="#{messages['export.entityClass']}" sortBy="#{stat.key}">
                                            <h:outputText value="#{stat.key}" />
                                        </p:column>
                                        <p:column headerText="#{messages['export.numberImported']}">
                                            <h:outputText value="#{stat.value}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                                <p:panel styleClass="search-panel" header="#{messages['export.fieldsNotImported']}"
                                    rendered="#{entityExportImportBean.remoteImportResult.fieldsNotImported!=null and ! entityExportImportBean.remoteImportResult.fieldsNotImported.isEmpty()}">

                                    <p:dataTable id="fiDatatable" var="stat" value="#{entityExportImportBean.remoteImportResult.fieldsNotImported.entrySet().toArray()}"
                                        paginator="true" rows="20"
                                        paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
                                        rowsPerPageTemplate="20,30,50" lazy="false" styleClass="custom-grid" rowIndexVar="rowIndex" resizableColumns="true">
                                        <p:column headerText="#{messages['export.exportTemplate']}" sortBy="#{stat.key}">
                                            <h:outputText value="#{stat.key}" />
                                        </p:column>
                                        <p:column headerText="#{messages['export.fields']}">
                                            <h:outputText value="#{of:joinCollection(stat.value.fieldsNotImported, ',')}" />
                                        </p:column>
                                    </p:dataTable>
                                </p:panel>
                            </h:panelGroup>

                        </h:panelGroup>

                    </h:panelGroup>
                </h:form>
            </h:panelGroup>
        </p:scrollPanel>
    </p:dialog>

</ui:composition>

</html>
