<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:hftl="http://hftl.org" xmlns:c="http://java.sun.com/jsp/jstl/core" >

<ui:composition>

    <c:if test="${empty(displayOneLine)}">
        <c:set var="displayOneLine" value="false" />
    </c:if>
    <c:if test="${empty(multiLang)}">
        <c:set var="multiLang" value="false" />
    </c:if>
    <c:if test="${empty(newLine)}">
        <c:set var="newLine" value="true" />
    </c:if>
    <c:if test="${empty(formLevelEdit)}">
        <c:set var="formLevelEdit" value="${backingBean.edit}" />
    </c:if>
    <c:if test="${empty(edit)}">
        <c:set var="edit" value="#{formLevelEdit}" />
    </c:if>

<!--     <hftl:formField field="description" label="#{messages['businessEntity.description']}" componentWidth="50" newLine="#{newLine}" displayOneLine="#{displayOneLine}"/> -->

    <hftl:decorateFormField fieldId="descriptionI" label="#{messages['businessEntity.languageDescriptions']}" componentWidth="50" 
        displayOneLine="#{displayOneLine}" rendered="#{multiLang}">

        <p:inputText id="description" value="#{entity.description}" size="80" maxlength="100" style="margin-left:40px;"
                    rendered="#{edit}" />
        <h:outputText value="#{entity.description}" style="margin-left:50px;" rendered="#{! edit}" />
 
    </hftl:decorateFormField>
</ui:composition>
</html>