<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui" xmlns:hf="http://java.sun.com/jsf/composite/tags" xmlns:cc="http://java.sun.com/jsf/composite" xmlns:hftl="http://hftl.org"
    xmlns:c="http://java.sun.com/jsp/jstl/core">

<!--
    Makes part of "happy faces" component group.
    A custom component to display a search panel wrapping search fields and buttons implementing search and additional navigation functionality 
 
    Attributes
        formId - form id value. Defaults to "searchForm"
        backingBean - backing bean associated with search.
        label - a panel header
        renderNewButton - should a "create new entity" button be displayed   
        newButtonView - an outcome view for "create new entity"
        ajax and ajaxUpdateIds - should search be done in ajax way and a list of component ids to update upon completion
        renderAdvancedLink - should a "show/hide advanced search fields" button be displayed
        
    Facets
        buttons - additional buttons to include after the last button  
-->

<ui:composition>

    <c:if test="${empty(renderNewButton)}">
        <c:set var="renderNewButton" value="true" />
    </c:if>
    <c:if test="${empty(ajax)}">
        <c:set var="ajax" value="true" />
    </c:if>
    <c:if test="${empty(renderAdvancedLink)}">
        <c:set var="renderAdvancedLink" value="false" />
    </c:if>
    <c:if test="${empty(newButtonView)}">
        <c:set var="newButtonView" value="#{backingBean.newViewName}" />
    </c:if>

    <h:form id="${empty(formId)?'searchForm':formId}">
        <p:panel header="#{label}">
            <h:panelGroup layout="block" styleClass="search-panel">
                <p:messages id="search_messages" autoUpdate="true"/>
                <p:outputPanel styleClass="search-panel-fields">
                    <c:set var="id" value="${null}" />
                    <ui:insert />
                </p:outputPanel> 

                <h:panelGroup layout="block" styleClass="search-panel-actions">
                    <p:commandButton id="buttonSearch" value="#{messages['commons.search']}" ajax="#{ajax}" action="#{backingBean.search}" update="@all" />
                    <p:commandButton id="buttonAdvanced" rendered="#{renderAdvancedLink and !backingBean.advanced}" value="#{messages['commons.advancedButton']}"
                        actionListener="#{backingBean.advancedAction}" update="@form" />
                    <p:commandButton id="buttonHideAdvanced" rendered="#{renderHideAdvancedLink and backingBean.advanced}" value="#{messages['commons.hideAdvancedButton']}"
                        actionListener="#{backingBean.advancedAction}" update="@form" />
                    <p:commandButton value="#{messages['commons.clean']}" process="@this" update="@form" action="#{backingBean.clean}">
                        <f:actionListener type="org.omnifaces.eventlistener.ResetInputAjaxActionListener" />
                    </p:commandButton>
            
                    <p:button id="buttonNew" value="#{messages['commons.new']}" outcome="#{newButtonView}" rendered="#{renderNewButton and backingBean.canUserUpdateEntity()}">
                        <f:param name="cid" value="#{javax.enterprise.context.conversation.id}" />
                        <f:param name="edit" value="true" />
                    </p:button>

                    <ui:insert name="buttons" />
                </h:panelGroup>
            </h:panelGroup>
        </p:panel> 
    </h:form>

</ui:composition>
</html>